<div class="rectangle container {{isOdd? 'odd' : ''}}" *ngIf ="isShowingType">
    <div class="rectangle parent {{isOdd? 'odd' : ''}}" >
        <div class="text_container">
            <p>Showing{{data.name}}<p>      
        </div> 
        <div class="expand_btn_container">
            <button class="expand_btn" (click) = "openClose()">{{ opanContainer? '-' : '+'}}</button>            
        </div>                 
    </div>
    <div *ngIf ="opanContainer">
        <app-list-node *ngFor = "let item of data.childrens" [data] = "item" [type] = "0" [isOdd] ="!isOdd"></app-list-node>
        <app-list-node [data] = "data" [type] = "1" [isOdd] ="!isOdd"></app-list-node>
    </div>
</div>

<div class="rectangle container {{isOdd? 'odd' : ''}}" *ngIf ="isAddingType">
    <div class="rectangle addnew {{isOdd? 'odd' : ''}}" >
        <form [formGroup]="newSibilingItem" (ngSubmit) = "addNewSibilingItem()">      
            <textarea formControlName="newItemName" rows="4" cols="50"></textarea>
            <button type="submit">Add</button> 
        </form> 
    </div>
</div>